body{
    width: auto;
}
div{
    width: auto;
}
.resp-header{
    display: none;
}
.resp-nav{
    width: 100%;
    background-color: teal;
}
#resp-ul{
    width: 80%;
    margin: auto;
    padding: 0;
}
#resp-ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
#resp-ul li a{
   color: #f39c12;
   text-decoration: none; 
}
.toggle{
    width: 100%;
    padding: 5px 10px;
    text-align: right;
    box-sizing: border-box;
    color: #f39c12;
    font-size: 30px;
    display: none;
}
.sosyalmdya{
    text-align: center;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.sosyalmdya .fa {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.menu{
    font-family: "Lucida Console", Courier, monospace;
    font-size:25px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:5px;
    padding-top:5px;
    background-color: teal;
}
#kültür2{
    display: none;
}

.logo{
    width: 80px;
    height: 80px;
    margin-right:320px;
}
.nav-item{
     padding-left: 50px;
     padding-top:20px
}
.nav-link{
    color:#f39c12;
}
.yazı{
    font-family: 'Times New Roman', Times, serif; 
    margin-left: 1%;
    margin-top: 2%;
    margin-right: 5%;
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: deepskyblue;
    color: red;
}
.resimbilgi{
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.hakkımda1{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom:3%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    background-color: deepskyblue;
}
.yazı2hakkında{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    color: red;
}
.resim1{
    margin-left: 0px;
}
.resim-bilgi{
margin-top: 2%;
}
.başlık1{
    margin-left:11%;
    margin-top: 15%;

}
.carousel-inner{
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;

}
.şehrimbaşlık1{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#b{
    color:#800000;
}
#m{
    color:#3BB9FF;
}
.şehrimdiv1{
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Times New Roman', Times, serif;
    
}
.şehrimdiv2{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: peachpuff;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}
.şehrimdiv3{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
}
.şehrimbaşlık3{
    margin-left: 12.5%;
   
}
.şehrimdiv4{
    margin-left: 28.5%;
    margin-bottom: 2%;
    
}
.şehrimbaşlık4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1%;
}
.copyright{
    text-align: center;
}
.takımımızbaşlık1{
    font-size: xx-large;
    margin-top: 5%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tsporlogo{
    margin-left: 2%;
    margin-top: 1%;
}
.takımımızbody{
    background-color:#800000;
}
.takımımızyazı1{
    margin-top: 2%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.takımımızbaşlık2{
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.takımımızyazı2{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-right: 1%;
    margin-top: 1%;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    background-color:#3BB9FF;
}
.takımımızdiv2{
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
}
.takımımızbaşlık3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.takımımızdiv3{
    margin-top:2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.takımımızbaşlık{
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:2%;
}
.takımımızdiv4{
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 3%;
}
.takımımızdiv5{
    margin-top: 4%;
    margin-left: 9%;
    margin-right: 12%;
    margin-bottom: 3%;
}
.takımımızbaşlık4{
    text-align: center;
}
.copyrighttkm{
    text-align: center;
    color:white;
}
.girişyazı{
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.cvfoto{
    margin-top: 2%;
}
.girişyazı .icon1{
   
    font-size: 30px;
    margin-right:3%;
}
.icon2{
    font-size: 35px;
    margin-left: 2%;

}
.özgeçmişyazı2 #tarih{
    margin-left: 2%;
    border-radius: 4px;
    background-color: red;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.özgeçmişyazı2 #date{
    margin-right: 40%;
    margin-left: 2%;
}
.özgeçmişdiv2{
    margin-bottom: 3%;
}
.yetenekler #ytnk{
    margin-left: 0%;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.yetenekler1{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.seviye{
    margin-left: 1%;
    margin-bottom: 5%;
    color:red;
    font-size: 30px;
}
.kişiselbilgiler1{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.kişiselbilgiler{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
.sertifikalar{
    margin-left: 2%;  
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
table{
    font-family:'Times New Roman', Times, serif;
    border-collapse: collapse;
} 
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding-right:5%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}  
tr:nth-child(even){
    background-color: #dddddd;
}
@media screen and (max-width: 479px)
{
    .menu{
        display: none;
    }
    .nav-item{
        display: none;
    }
    .resp-header{
        display: block;
        width: 100%;
    }
    #resp-ul{
        width: 100%;
        display: none;
    }
    #resp-ul li{
        display: block;
        text-align: center;
    }
    .toggle{
        display: block;
    }




    .girişyazı{
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 0%;
        max-width:479px;
        
    }
    #rakyol{
        font-size: 15px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        
    }
    .girişyazı .icon1{
        margin-left: 2%;
        font-size: 12px;
    }
    .cvfoto{
        margin-left: 0%;
    }
    #pcmhn{
        margin-left: 0%;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .özgeçmişdiv2{
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom:2%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    .yetenekler{
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom:2%;
        font-family: 'Times New Roman', Times, serif;
    }
    .yetenekler #ytnk{
        margin-left: 0%;
        color:blue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .yetenekler1{
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 2%;
        margin-bottom: 2%;
        font-family: 'Times New Roman', Times, serif;
    }
    .seviye{
        margin-left: 0%;
        margin-bottom: 2%;
        color:red;
        font-size: 11px;
    }
    .kişiselbilgiler{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .kişiselbilgiler .icon2{
        margin-left: 4%;
        margin-top: 2%;
        margin-right: 2%;
    }
    .sertifikalar{
        margin-left: 4%;  
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 9.5px;
    }
    #srtfk{
        margin-left: 4%;
    }
    table{
        font-family:'Times New Roman', Times, serif;
    } 
    td, th{
        text-align: left;
        padding-right:1%;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    } 
    .copyright{
        text-align: center;
        font-size: 12px;
    } 
    .şehrimdiv2{
        margin-left: 2%;
        margin-right: 2%;
    }
    body{
        max-width: 479px;
    }
    .tsporlogo{
        margin-left:auto;
        margin-right: auto;
    }
    .takımımızdiv1{
        max-width: 479px;
        width: auto;
    }
    img{
        max-width: 400px;
        width: auto;
    }
    video{
        max-width: 459px;
        width: auto;
    }
    .şehrimdiv4{
        margin-left: 2%;
        margin-bottom: 2%;
        
    }
    header{
        max-width: 479px;
    }
    .şehrimbaşlık3{
        font-size: 10px;
        margin-left: 2%;
    }
    div{
        max-width: 479px;
    }
    .takımımızbaşlık1{
        font-size: xx-large;
        margin-top: 5%;
        text-align: center;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .takımımızyazı1{
        margin-left: 4%;
        margin-right: 2%;
    }
    .takımımızdiv4{
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        padding-left: 0%;
    }
    .takımımızdiv5{
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        padding-left: 0%;
    }
    .tsporlogo{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width:480px) and (max-width:767px)
{
    .menu{
        display: none;
    }
    .nav-item{
        display: none;
    }
    .resp-header{
        display: block;
    }
    #resp-ul{
        width: 100%;
        display: none;
    }
    #resp-ul li{
        display: block;
        text-align: center;
    }
    .toggle{
        display: block;
    }
    .cvfoto{
        margin-right: 2%;
    }
    .girişyazı{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin-left: 2%;
        margin-right: 0%;
        max-width:767px;  
    }
    #özgmşdv1{
        width: auto;
    }
    .özgeçmişdiv2{
       font-size: 20px;
    }
    .yetenekler #ytnk{
        margin-left: 0%;
        font-family: 'Times New Roman', Times, serif;
        font-size: auto;
    }
    .seviye{
        margin-left: 0%;
        margin-bottom: auto;
        font-size: auto;
    }
    table{
        font-family:'Times New Roman', Times, serif;
    } 
    td, th{
        text-align: left;
        padding-right:1%;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    } 
    .sertifikalar{
        font-size: 16px;
    }
    #şehrimslider1{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
      
    }
    img{
        max-width: 500px;
        width: auto;
    }
    video{
        max-width: 700px;
        width: auto;
    }
    #şehrimslider2{
        margin-left: auto;
        margin-right: auto;
    }
    #şehrimslider3{
        margin-left: auto;
        margin-right: auto;
    }
    .boş{
        display: none;
    }
    #kültür{
        display: none;
    }
    #yemekler{
        margin-left: auto;
        margin-right: auto;
    }
    #kültür2{
        text-align: center;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
    .şehrimdiv4{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        
    }
    .tsporlogo{
        margin-left: auto;
        margin-right: auto;
    }
    .takımımızbaşlık1{
        margin-right: 5%;
        margin-left: 32%;
    }
    .takımımızyazı1{
        margin-left: 2%;
        margin-right: 2%;
    }
    .takımımızdiv4{
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        padding-left: 0%;
    }
    div{
        max-width: 767px;
        width: auto;
    }
    body{
        max-width: 767px;
        width: auto;
    }
    header{
        max-width: 767px;
        width: auto;
    }
    .takımımızdiv5{
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        padding-left: 0%;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px)
{
    div{
        max-width: 1023px;
        width: auto;
    }
    body{
        max-width: 1023px;
        width: auto;
        font-family: 'Times New Roman', Times, serif;
    }
    .menu{
        display: none;
    }
    .nav-item{
        display: none;
    }
    .resp-header{
        display: block;
    }
    #resp-ul{
        width: 100%;
        display: none;
    }
    #resp-ul li{
        display: block;
        text-align: center;
    }
    .toggle{
        display: block;
    }
    .yetenekler #ytnk{
        margin-left: 0%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
    .seviye{
        margin-left: 0%;
        margin-bottom: auto;
        font-size:6px;
    }
    td, th{
        text-align: left;
        padding-right:1%;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    } 
    .sertifikalar{
        font-size: 16px;
    }
    #kültür{
        display: none;
    }
    #yemekler{
        margin-left: auto;
        margin-right: auto;
    }
    #kültür2{
        text-align: center;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        max-width: 900px;
        width: auto;
    }
    video{
        max-width: 900px;
        width: auto;
    }
    .şehrimdiv4{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        
    }
    #şehrimslider2{
        margin-left: auto;
        margin-right: auto;
    }
    #şehrimslider3{
        margin-left: auto;
        margin-right: auto;
    }
    #yemekler{
        margin-left: auto;
        margin-right: auto;
    }
    .tsporlogo{
        margin-left: auto;
        margin-right: auto;
    }
    .takımımızbaşlık1{
        margin-right: 5%;
        margin-left: 32%;
    }
    .takımımızyazı1{
        margin-left: 2%;
        margin-right: 2%;
    }
    .takımımızdiv4{
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        padding-left: 0%;
    }
    .takımımızdiv5{
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        padding-left: 0%;
    }
}